# Videos SoccerNet — nao versionar (direitos autorais)
data/raw/

# Frames extraidos — nao versionar (gerados pelo extractor.py)
data/frames/

# Manter estrutura de pastas no Git
!data/raw/spain_laliga/
!data/raw/spain_laliga/2015-2016/
!data/raw/spain_laliga/2015-2016/.gitkeep
!data/raw/europe_uefa-champions-league/
!data/raw/europe_uefa-champions-league/2015-2016/
!data/raw/europe_uefa-champions-league/2015-2016/.gitkeep
!data/frames/**/.gitkeep

# Senha SoccerNet — NUNCA versionar
soccernet_key.txt
soccernet_key.gdoc
*.gdoc

# CSVs grandes de eventos — gerados pelo notebook
data/statsbomb/events/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Google Colab
drive/
